BASE_URL = 'http://127.0.0.1:8000'
OPEN_AI_API_KEY='OpenAI Key added for demo'
GITHUB_TOKEN = 'GitHub Token added for demo'
REPO_URL = 'Reposoitory Url added for demo'
NEO4J_URI = 'Neo4j URI added for demo'
NEO4J_USER = 'Neo4j Username added for demo'
NEO4J_PASSWORD = 'Neo4j Password added for demo'